body {
  background: #eee;
  font-family: "Georgia", serif;
}

.form-box {
  background: #fff;
  padding: 15px;
  width: 350px;
  margin: 20px;
}

.form-box input,
.form-box select,
.form-box button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.certificate {
  width: 29.7cm;
  height: 21cm;
  background: #f8f4dc;
  margin: auto;
  padding: 40px;
  position: relative;
  border: 10px solid #19365f;
}

.logo {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 180px;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #19365f;
}

h3 {
  text-align: center;
  letter-spacing: 4px;
}

.small {
  text-align: center;
  margin-top: 20px;
}

.name {
  text-align: center;
  color: #d84c3a;
  font-size: 40px;
}

.from {
  text-align: center;
  font-weight: bold;
}

.content {
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}

.highlight {
  color: #d84c3a;
}

.bottom {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 40px;
  width: 90%;
}

.qr {
  width: 90px;
}

.badges img {
  width: 80px;
  margin: 0 10px;
}

.sign-box {
  text-align: center;
}

.stamp {
  width: 90px;
}

/* PRINT */
@media print {
  body * {
    visibility: hidden;
  }
  .certificate, .certificate * {
    visibility: visible;
  }
  .certificate {
    position: absolute;
    top: 0;
    left: 0;
  }
}
